@main("emishviz") {

<h1>
    <i>emishviz</i>
</h1>

<div class="main">

    <div id="dynamicArea" class="relative max-width h-sixty-five">

        <div id="mapArea" class="w-sixty-five max-height left"></div>

        <div class="w-thirty-five h-thirty-five top right">
            <b>Gas Breakdown</b>
            <div id="gasTreemap"></div>
        </div>

        <div class="w-thirty-five h-sixty-five bottom right">
            <b>Source Breakdown</b>
            <div id="sourcesTreemap"></div>
        </div>

    </div>

    <div id="yearSlider"></div>

    <script src="/assets/js/playground.js" type="text/javascript"></script>

</div>

}
