@main("emishviz") {

<div class="github-card" data-user="twrichards" data-repo="emishviz" data-width="600"></div>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

<div class="main">

    <div id="dynamicArea" class="relative max-width h-sixty-five">

        <div class="w-sixty-five max-height left">
            <div id="mapArea"></div>
            <div class="top right inner-pad-right">
                Weight by Population
                <label class="switch">
                    <input id="weightByPopulation" type="checkbox">
                    <div class="switch-inner round"></div>
                </label>
            </div>
        </div>

        <div class="w-thirty-five h-thirty-five top right">
            <b>Gas Breakdown</b>
            <div id="gasTreemap"></div>
        </div>

        <div class="w-thirty-five h-sixty-five bottom right">
            <b>Source Breakdown</b>
            <div id="sourcesTreemap"></div>
        </div>

    </div>

    <div id="yearSlider"></div>

    <script src="/assets/js/playground.js" type="text/javascript"></script>

</div>

}
