html {
	font-family: 'Helvetica', sans-serif;
}

.main{

	padding-left:50px;
	padding-right:50px;

}

.relative {
	position: relative;
}

.left {
	position: absolute;
	left: 0;
}

.right {
	position: absolute;
	right: 0;
}

.bottom {
	position: absolute;
	bottom: 0;
}

.top {
	position: absolute;
	top: 0;
}

.max-width {
	width: 100%
}

.max-height {
	height: 100%
}

.w-sixty-five{
	width:65%
}

.w-thirty-five{
	width:35%
}

.h-sixty-five{
	height:65%
}

.h-thirty-five{
	height:35%
}

.w-thirty-five div {
	height: calc(100% - 25px);
}

.inner-pad {
    margin: 10px;
}

.inner-pad-right {
    margin-right: 20px;
}

.switch {
	vertical-align: middle;
}